@media only screen 
and (min-width : 768px){
.index-wrapper{
grid-template-columns: 10vw 80vw 10vw;
grid-template-rows: 4em 26.5em 110em 8.5em;
}

/* hero */
.hero-shape{
border-top: 30.5em solid rgba(15, 58, 89, 0.7);
border-right: 16em solid transparent;
width: 16em;
}

.hero-text{
margin-top: 9em;
margin-left: 9vw;
font-size: 1.25em;
line-height: 2.5em;
}

.content{
grid-template-columns: 10vw 80vw 10vw;
grid-template-rows: 5em 16em 5em 10em 5em 20em .2em 10em .5em 10em 5em 18em;
}

.c-row-2{display:flex; justify-content: end;}

.photo-1{
width: 46vw;
height: 14em;
margin-top: 1em;
}

.text-1{margin: .5em 3em 0 0;line-height: 2.2rem;}

/* NEWS */
.news{
grid-template-rows: 18% 75% 7%;
grid-template-columns: 10% 17% 23% 17% 23% 10%;
}

.h2-title{font-size:.8em;padding-left:.5em; margin-bottom:.3em;}
.news-text{font-size:.6em;line-height:1.5em;padding-left:.5em;margin-top: 0;}
.pic-news-1{width: 130px;}
.news-2{grid-row: 2; grid-column: 5; display: initial;}
.pic-news-two{grid-row:2; grid-column:4; width:130px; height:5.5em; margin-top: .6em; display:initial;}

/* Memorandum of understanding */
.img-mou{display:flex;justify-content: center;}

.hide-mou{
width: 22em;
height: auto;
margin-left: 0;
margin-right: 0;
}

.h2-mou, .nl-tc{
margin: .5em 0em .5em 0em;
padding: .5em 0em .5em 0em;
}

.hide-text{
width: 22em;
margin-left: 2em;
font-size: .7em;
line-height: 1.75em;
}

.h2-mou{font-size: 1.5em;margin-bottom: .5em;}
.nl-tc{font-size: 1rem; margin-bottom: 1em;}

/* Banner */
.shape{
border-top: 160px solid rgba(15, 58, 89, 0.7);
border-right: 160px solid transparent;
width: 400px;
}

.text-banner{
width: 350px;
margin-left: 10vw;
padding-left: 0;
padding-bottom: 0;
margin-bottom: 0;
line-height: 2.5em;
font-size: .825em;
}

.img-ban{height: 10em;}
.banner-link{padding-left:0; padding-top: 0; margin-top: 0; margin-left: 10vw;}

/* Nations */
.nations{
grid-template-rows: 2.5em 2em 7.6em 5em;
grid-template-columns: 16vw 16vw 16vw 16vw 16vw;
}

.member-nations{width: 5em;}
.figcaption{font-size: .8em;}

/* Footer */
footer{
grid-template-columns: 35vw 10vw 10vw 10vw 35vw;
grid-template-rows: 3.5rem 2rem 3rem;
}

.footext{grid-column-start: 1;grid-column-end: 6;}
}

@media only screen 
and (min-width : 834px){
.text-1{
font-size: .89em;
line-height: 2.4em;
padding-top: 1em;
margin-top: 0;
}
.photo-1{width: 30em;}
}

@media only screen 
and (min-width : 1024px){
.index-wrapper{
grid-template-rows: 4em 39em 127em 9em;
}
/* Header */
button{display: none;}
.menu{display: none;}

.nav2{
width: 59vw;
display: grid;
grid-template-columns: 11vw 13vw 13vw 11vw 11vw;
grid-auto-rows: auto;
position: absolute;
top: 2em;
right: 0;
font-size: 1em;
text-align: center;
/* height: 3em; */
}
    .box1{grid-column: 1;}
    .box2{grid-column: 2;}
    .box3{grid-column: 3;}
    .box4{grid-column: 4;}
    .box5{grid-column: 5;}

    .bar-2{
    text-decoration: none;
    list-style-type:none;
    list-style-image: none;
    color: #0e3a59;
    }

    .bar-ind{
    text-decoration: none;
    list-style-type:none;
    list-style-image: none;
    color: white;
    } 

/* Hero */
.hero-image{
grid-row-start: 1;
grid-row-end: 4;
grid-column-start: 1;
grid-column-end: 4;
width: 100vw;
height: 39em;
}

.hero-shape{
border-top: 43rem solid rgba(15, 58, 89, 0.7);
border-right: 18rem solid transparent;
width: 18rem;
}

    .hero-text{
    margin-top: 11em;
    margin-left: 10vw;
    font-size: 1.4em;
    line-height: 2.5em;
    }

.overlay{height: 43em;}
.slider{height: 43em;}
.hero-photo{height: 43em;}

/* Main */
.content{
grid-template-rows: 4em 20em 5em 11em 5em 26em .2em 8em 3em 12em 6em 22.5em;
}

.photo-1{
width: 40em;
height: 18em;
margin-top: 2em;
}

.text-1{
font-size: 1em;
line-height: 2.8em;
margin: 0em 4em 0 0;
}

/* News */
.news{
grid-template-rows: 23% 70% 7%;
grid-template-columns: 10% 16% 24% 16% 24% 10%;
}

.h2-title {font-size: .9em;line-height: 1.3em;}
.news-text {font-size: .7em;line-height: 1.4em;}
.pic-news-1 {width: 155px;}
.pic-news-two {width: 155px;height: 7.1em;}
.r-more {font-size: 1.1em;}

/* Memorandum of understanding */
.hide-mou {width: 28em;}
.h2-mou {font-size: 1.9em;}

.hide-text {
width: 32.4em;
margin-left: 3.5em;
font-size: .85em;
line-height: 2.1em;
}

.text-mou-2 {font-size: 1.3em;}

/* Banner */
.shape{
border-top: 191px solid rgba(15, 58, 89, 0.7);
border-right: 191px solid transparent;
width: 500px;
}
.img-ban {height: 12em;}

.text-banner {
width: 450px;
line-height: 2.5em;
font-size: 1em;
}

.banner-link {margin-top: 1em;}

/* Nations */
.nations {
grid-template-rows: 3em 2em 9.6em 4.3em;
}

.nations-title {font-size: 1.2em;}
.nations-text{font-size: .89em;line-height: 1.8em;}
.member-nations {width: 6.5em;}
figcaption {font-size: .9em;}
}

@media only screen 
and (min-width : 1280px){
.index-wrapper{
grid-template-columns: 15vw 70vw 15vw;
grid-template-rows: 5em 54em 180em 9em;
}

.vertical-logo{
width: 9em;
padding: .6em 1em 0em 2.5em;
margin: .18em;
}

/* Hero */
.hero-image{height: 99vh;}
.overlay{ height: 99vh;}
.slider{height: 99vh;}
.hero-photo{height: 99vh;}   
 
.hero-shape{
border-top: 99vh solid rgba(15, 58, 89, 0.7);
border-right: 22em solid transparent;
width: 23em;
}
    .hero-text{margin-top: 14em;}

/* Main */
.content{
grid-template-columns: 15vw 70vw 15vw;;
grid-template-rows: 7em 27em 10em 14em 10em 31em .5em 10em 10em 14em 10em 22em;
}

.photo-1 {width: 30em;height: 19em;margin-top: 2em;}
.text-1 {width:31em; padding: 1em; font-size: 1.05em;}

/* News */
.news{
grid-template-rows: 25% 70% 5%;
grid-template-columns: 15% 12% 23% 12% 23% 15%;
}
.pic-news-1 {width: 150px;}
.pic-news-two {width: 150px;height: 7em;}
.l-news {font-size: 1.3em;}
.h2-title{padding-right: 1em;font-size: .9em; line-height: 1.5em;}
.news-text {font-size: .7em;line-height: 1.6em;}

/* Memorandum of understanding */
.h2-mou {font-size: 2.3em;}
.nl-tc {font-size: 1.4em;}
.hide-mou {width: 34em;}

.hide-text {
width: 28em;
margin-left: 4em;
font-size: .943em;
line-height: 2em;
}
.text-mou-2 {font-size: 1.6em;}

/* Banner */
.img-ban {height: 14em;}

.shape {
border-top: 223.5px solid rgba(15, 58, 89, 0.7);
border-right: 210px solid transparent;
width: 700px;
}

.text-banner {
width: 600px;
line-height: 2.5em;
font-size: 1.2em;
}

.banner-link {
font-size: 1em;
margin-top: 1em;
}

/* Nations */
.nations {
grid-template-rows: 3.5em 2em 12em 4.3em;
grid-template-columns: 14.8vw 14.8vw 14.8vw 14.8vw 14.8vw;
}
.member-nations {width: 7.2em;}
.nations-title {font-size: 1.4em;}
.nations-text {
font-size: 1em;
line-height: 1.8em;
text-align: justify;
}
figcaption {font-size: 1em;}

/* Footer */
footer {
grid-template-columns: 38vw 8vw 8vw 8vw 38vw;
grid-template-rows: 3.5em 2.5em 3em;}
.social-text {font-size: .8em;}
}

/* @media only screen 
and (min-width : 1440px){  */

/* Hero */
/* .hero-image{height: 49rem;}
.overlay{ height: 49rem;}
.slider{height: 49rem;}
.hero-photo{height: 49rem;} 
} */
    /* Hero */
/* .hero-image{height: 45.5rem;}
.overlay{ height: 45.5rem;}
.slider{height: 45.5rem;}
.hero-photo{height: 45.5rem;}   
 
.hero-shape{
border-top: 45.5rem solid rgba(15, 58, 89, 0.7);
border-right: 22rem solid transparent;
width: 23rem;
}
    .hero-text{
    margin-top: 14rem;
    margin-left: 10vw;
    font-size: 1.6rem;
    line-height: 3.7rem;
    }
} */
/* Hero */
/* .hero-shape{ */
/* border-top: 46rem solid rgba(15, 58, 89, 0.7);
border-right: 23rem solid transparent;
width: 23rem;
}
    .hero-text{
    margin-top: 13rem;
    margin-left: 10vw;
    font-size: 1.5rem;
    line-height: 3.3rem;
    }
    .overlay{height: 43em;}
.slider{height: 43em;}
.hero-photo{height: 43em;}
} */

/*----------------------------------------
ABOUT
-----------------------------------------*/
@media only screen 
and (min-width : 768px){
.about-wrapper{
grid-template-columns: 10vw 80vw 10vw;
grid-template-rows: 4em 14em 100em 10.5rem;
}
.vertical-logo{width: 9.5rem;height: auto;}

/* hero */
.hero-overlay{height: 14em;}
.heropic-about{height: 14em;}

/*------
MAIN
-------*/ 
    
.about-content{
grid-template-rows: 2em 20em 5em 33em 0em 10em 2em 7em 2em 20em;
grid-template-columns: 10vw 80vw 10vw;
}
    
.about-intro{
grid-auto-columns: 55vw 25vw;
grid-template-rows: 3rem 17rem;
}  

.intro-title{ grid-row: 1;grid-column: 1;}
.intro-text{grid-row: 2; grid-column: 1;line-height: 2rem;}
.intro-logo{ grid-row: 2; grid-column: 2;text-align: right;}
.ab-logo{width: 22vw;}

/*------
LEADERS
-------*/
.executive-leders{
grid-column-start: 1;
grid-column-end: 4;
grid-auto-columns: 10vw 26.67vw 26.67vw 26.67vw 10vw;
grid-template-rows: 4em 8em 16em;
}

.leaders-title{
grid-row: 1;
grid-column-start: 2;
grid-column-end: 5;
}

.leaders-text{
grid-column-start: 2;
grid-column-end: 5;
}

.photo-leader{width: 10.5em;height: 10.5em;padding-right: 0rem;}
.alvin{grid-row: 3;grid-column: 2;display: flex; flex-direction: column;}
.travis{grid-row: 3;grid-column: 3;display: flex;flex-direction: column;} 
.brian{grid-row: 3;grid-column: 4;display: flex;flex-direction: column;}
#t-photo{display:block;margin-left: auto; margin-right: auto;}
#t-name{padding-left: 1.1em;}
#t-position{padding-left: 1.25em;}
#t-hr{margin-left: 1em;}

#b-photo{align-items: flex-end;}
#b-name{margin-right: 4em;}

.l-content{margin-top: 1.3em;}
.leaders-text{font-size: .9rem;}
.leaders-name{font-size: .9rem;}
.position{font-weight: 600; padding: .3em;font-size: .65rem;}

.hr-leaders{
border: .3px solid rgba(15,58,89,1);
position: absolute;
margin-top: 15rem; 
width: 10.6em; 
display: block;
margin-left:0%;
margin-right: 0;
}

/*------
BANNER
-------*/
.about-banner-text{
z-index: 6;
position: absolute;
color: #ffffff;
margin-left: 10vw;
}

.about-text-banner{
width: 45vw;
font-size: 1rem;
margin-left: 0;
}

}

/* @media only screen 
and (min-width : 834px){
} */

@media only screen 
and (min-width : 1024px){
.about-wrapper{
grid-template-rows: 5em 16em 130em 10.5rem;
grid-template-columns: 15vw 70vw 15vw;
}


/* hero */
.hero-overlay{height: 16em;}
.heropic-about{height: 16em;}

/*------
MAIN
-------*/ 
.about-content{
grid-template-rows: 2em 25em 10em 42em 0em 14em 2em 9em 8em 17em;
grid-template-columns: 15vw 70vw 15vw;
}
    
/* intro */
.about-intro {
grid-auto-columns: 45vw 25vw;
grid-template-rows: 4rem 22rem;
}

.intro-logo{grid-row-start: 1;grid-row-end: 3;}
.ab-logo {width: 21vw;}
.intro-text{font-size:1.05rem; line-height: 2.5rem; padding-right:1.7em;}
/*------
LEADERS
-------*/
.executive-leders{
grid-auto-columns: 15vw 23.33vw 23.33vw 23.33vw 15vw;
grid-template-rows: 7em 8em 16em;
}
.leaders-title {padding-top: 2em;}
.photo-leader{width: 11.5em;height: 11.5em;padding-right: 0rem;}
.leaders-name{font-size: 1.1rem;}
.position{padding: .3em;font-size: .8rem;}
.hr-leaders{margin-top: 16rem; width: 11.6em;}
#t-name{padding-left: 4.2em;}
#t-position{padding-left: 6em;}
#t-hr{margin-left: 4.2em;}
/*------
BANNER
-------*/
.about-banner-text{margin-left: 15vw; margin-top: 3em;}
.about-title-banner{font-size: 2rem;}
.about-text-banner{font-size: 1.2rem;}
   
/*------
SUB-TEXT
-------*/
.aboutsub-text{font-size: 1.5rem;line-height: 2.8em;}

/*---------------
MISSION & VISSION
----------------*/
.mission-vission{flex-direction: row;}
.vission{width: 50vw;padding: 2em;}
.mission{width: 50vw;padding: 2em;}

}

/*----------------------------------------
CONTACT
-----------------------------------------*/
@media only screen 
and (min-width : 768px){
.contact-wrapper{
grid-template-columns: 10vw 80vw 10vw;
grid-template-rows: 4em 14em 60em 10.5rem;
}

/* hero */
.heropic-about{height: 14em;}

/*------
MAIN
-------*/ 
.contact-content{
grid-template-rows: 6em 6em 6em 8em 6em 22em;
grid-template-columns: 10vw 80vw 10vw;
}

.map{width: 79.5vw;height: 20em;}
 

}

@media only screen 
and (min-width : 834px){
.contact-wrapper{
grid-template-rows: 4em 14em 56em 10.5rem;
}
/* Main */
.contact-content{
grid-template-rows: 6em 6em 6em 8em 7em 17em;
}
.map{width: 50vw;height: 15em;} 
}

@media only screen 
and (min-width : 1024px){
.contact-wrapper{
grid-template-rows: 5em 16em 60em 10.5rem;
grid-template-columns: 15vw 70vw 15vw;
}

 /* hero */
.heropic-about{height: 16em;}

/* Main */
.contact-content{
grid-template-rows: 6em 6em 6em 8em 7em 17em;
grid-template-columns: 15vw 70vw 15vw;
}

.map{width: 40vw;height: 15em;} 
}

/*----------------------------------------
CAREER
-----------------------------------------*/
@media only screen 
and (min-width : 768px){
.career-wrapper{
grid-template-columns: 10vw 80vw 10vw;
grid-template-rows: 4em 20em 40em 10.5rem;
}

/* Main */
.career-content{
grid-template-rows: 6em 6em 8em 8em 6em 6em;
grid-template-columns: 10vw 80vw 10vw;   
}

.h4-message{font-size: 1.2em;margin-top: 4em;}
}
 
@media only screen 
and (min-width : 1024px){
.career-wrapper{
grid-template-columns: 15vw 70vw 15vw;
grid-template-rows: 5em 16em 60em 10.5rem;
}

.career-content{
grid-template-rows: 8em 6em 8em 12em 12em 14em;
grid-template-columns: 15vw 70vw 15vw;
}

.h4-message{margin-top: 4em;}

}

/*----------------------------------------
NEWS
-----------------------------------------*/
@media only screen 
and (min-width : 768px){
.news-wrapper{
grid-template-columns: 10vw 80vw 10vw;
grid-template-rows: 4em 14em 164.5em 10.5rem;
}
/*------
MAIN
-------*/
.news-content{
grid-template-rows: 5em 26.5em 12em 6em 115em;
grid-template-columns: 10vw 80vw 10vw;
}

/* Video */
.video-container{grid-template-rows: 22.5em 4rem;}
.v-caption{font-size: .9em;letter-spacing: .03em;}
    
/* Documents Related */
.pdf-documents{grid-template-rows: 3em 4.5em 3.5em;}   
.pdf{font-size: .85em; line-height: 1.5em;}

/* News */
.news-page{
grid-template-columns: 35% 65%;
grid-template-rows: repeat(11, 10em);
}

.art-title{font-size: .9em;line-height: 1.8em}
.art-text{font-size: .9em;line-height: 1.8em;}
.read-more{font-size: 1.1em;}
.n-photo{ width: 11em;height: 7em;padding-top: .3rem;}   
}

@media only screen 
and (min-width : 834px){
.news-wrapper{
grid-template-columns: 10vw 80vw 10vw;
grid-template-rows: 4em 14em 175em 10.5rem;
}

/*------
MAIN
-------*/
.news-content{
grid-template-rows: 5em 29em 12.5em 5em 121em;
grid-template-columns: 10vw 80vw 10vw;
}

/* Video */
.video-container{grid-template-rows: 24.5em 3rem;}
.v-caption{letter-spacing: 0.05em;}

/* Documents Related */
.pdf-documents{grid-template-rows: 2.5em 5em 5em;}   
.pdf{font-size: .9em; line-height: 2em;}


/* News */
.news-page{
grid-template-columns: 30% 70%;
grid-template-rows: repeat(11, 11em);
}

.art-title{font-size: 1em;line-height: 1.8em}
.art-text{font-size: .9em;line-height: 1.8em;}
}

@media only screen 
and (min-width : 1024px){
.news-wrapper{
grid-template-rows: 5em 18em 179em 10.5rem;
grid-template-columns: 15vw 70vw 15vw;
}

/*------
MAIN
-------*/
.news-content{
grid-template-rows: 6em 30em 12em 6em 125em;
grid-template-columns: 15vw 70vw 15vw;
}

/* Video */
.video-container{grid-template-rows: 26em 4em;}


/* Documents Related */
.pdf-documents{grid-template-rows: 3em 5em 4em;}   
.pdf{ line-height: 1.5em;}


/* News */
.news-page{grid-template-rows: repeat(11, 11em);}
}
@media only screen 
and (min-width : 1280px){

.news-wrapper{
grid-template-rows: 5em 18em 200em 10.5rem;
/* grid-template-columns: 15vw 70vw 15vw; */
}

/*------
MAIN
-------*/
.news-content{
grid-template-rows: 7em 35em 12em 7em 132em;
/* grid-template-columns: 15vw 70vw 15vw; */
}

/* Video */
.video-container{grid-template-rows: 31em 4em;}

    .video, .vimeo{
    max-width: 60vw;
    margin-left: 5vw;
    }

    .v-caption{margin-left: 5vw;}

/* Documents Related */
.pdf-documents{grid-template-rows: 3em 5em 4em;}   
.pdf{font-size: .95em; line-height: 1.7em;}

        
/* News */
.news-page{
grid-template-columns: 25% 75%;
grid-template-rows: repeat(11, 12em);
}

.art-title{font-size: 1rem;line-height: 1.9rem}
.art-text{font-size: .9rem;line-height: 1.9rem;}
}
