@media only screen 
and (min-width : 768px){
.index-wrapper{
grid-template-rows: 4em 26.5em 112em 10.5rem;
}
/* hero */
.textslide{
font-size: 1.3rem;
margin-left: 2em;
height: 2.1em;
width: 25em;
padding-left: .7em;
}

.texta-slider-1,.texta-slider-2,.texta-slider-3{margin-top: 12.2em;}
.textb-slider-1,.textb-slider-2,.textb-slider-3{margin-top: 15.2em;}

/* main */
.content{
grid-template-rows: 5em 18em 5em 10em 5em 18em .2em 10em .5em 10em 5em 20.5em;
}

.c-row-2{display:flex;}

.photo-1{
width: 22em;
height: 15em;
margin-top: 2em;
}

.text-1{margin: 2em 3em 0 0;line-height: 2.2rem;}

/* NEWS */
.news{
grid-template-rows: 18% 75% 7%;
grid-template-columns: 8% 18% 24% 18% 24% 8%;
}

.h2-title{font-size:.8rem;padding-left:.5em; margin-bottom:.3em;}
.news-text{font-size:.6rem;line-height:.8rem;padding-left:.5em;margin-top: 0;}
.pic-news-1{width: 130px;}
.news-2{grid-row: 2; grid-column: 5; display: initial;}
.pic-news-two{grid-row:2; grid-column:4; width:130px; height:6em; display:initial;}

/* Memorandum of understanding */
.img-mou{display:flex;}

.hide-mou{
width: 22rem;
height: auto;
margin-left: 0;
margin-right: 0;
}

.h2-mou, .nl-tc{
margin: .5em 0em .5em 0rem;
padding: .5em 0em .5em 0rem;
}

.hide-text{
width: 23.2em;
margin-left: 2em;
font-size: .7rem;
line-height: 1.35rem;
}

.h2-mou{font-size: 1.5rem;margin-bottom: .5em;}
.nl-tc{font-size: 1rem; margin-bottom: 1em;}

/* Banner */
.shape{
border-top: 160px solid rgba(15, 58, 89, 0.7);
border-right: 160px solid transparent;
width: 400px;
}

.text-banner{
width: 350px;
padding-left: 4em;
padding-bottom: 0;
margin-bottom: 0;
line-height: 2.5em;
font-size: .85rem;
}

.img-ban{height: 10em;}
.banner-link{padding-left: 4em; padding-top: 0; margin-top: 0;}

/* Nations */
.nations{
grid-template-rows: 2.5em 6.5em 7.6em 3.5em;
grid-template-columns: 21vw 21vw 21vw 21vw;
}

.member-nations{width: 5em;}
figcaption{font-size: .7rem;}

/* Footer */
footer{
grid-template-columns: 35vw 10vw 10vw 10vw 35vw;
grid-template-rows: 3.5rem 2.5rem 5rem;
}

.footext{grid-column-start: 1;grid-column-end: 6;}
}

@media only screen 
and (min-width : 834px){
.text-1{
font-size: .95rem;
line-height: 2.4rem;
padding-top: 1em;
margin-top: 0;
}
.photo-1{width: 25em;}
}

@media only screen 
and (min-width : 1024px){
.index-wrapper{
grid-template-rows: 4em 39em 127em 10.5rem;
}
/* Header */
button{display: none;}
.menu{display: none;}

.nav2{
width: 59vw;
display: grid;
grid-template-columns: 11vw 13vw 13vw 11vw 11vw;
grid-auto-rows: auto;
position: absolute;
top: 2rem;
right: 0;
font-size: .9rem;
text-align: center;
}
    .box1{grid-column: 1;}
    .box2{grid-column: 2;}
    .box3{grid-column: 3;}
    .box4{grid-column: 4;}
    .box5{grid-column: 5;}

    .bar-2{
    text-decoration: none;
    list-style-type:none;
    list-style-image: none;
    color: #0e3a59;
    }

    .bar-ind{
    text-decoration: none;
    list-style-type:none;
    list-style-image: none;
    color: white;
    } 

/* Hero */
.hero-image{
grid-row-start: 1;
grid-row-end: 4;
grid-column-start: 1;
grid-column-end: 4;
width: 100vw;
height: 39em;
}

.textslide{font-size: 1.5rem;padding-left: .9em;}

.texta-slider-1,.texta-slider-2,.texta-slider-3{margin-top: 14.2em;}
.textb-slider-1,.textb-slider-2,.textb-slider-3{margin-top: 17.2em;}

.overlay{height: 43em;}
.slider{height: 43em;}
.hero-photo{height: 43em;}

/* Main */
.content{
grid-template-rows: 4em 20em 5em 11em 5em 22em .2em 10em 3em 12em 6em 22.5em;
}

.photo-1{
width: 40em;
height: 18em;
margin-top: 2em;
}

.text-1{
font-size: 1rem;
line-height: 3.2rem;
margin: 0em 4em 0 0;
}

/* News */
.news{
grid-template-rows: 23% 70% 7%;
grid-template-columns: 8% 16% 26% 16% 26% 8%;
}

.h2-title {font-size: .9rem;line-height: 1.3rem;}
.news-text {font-size: .7rem;line-height: 1.1rem;}
.pic-news-1 {width: 155px;}
.pic-news-two {width: 155px;height: 7.1em;}
.r-more {font-size: .75rem;}

/* Memorandum of understanding */
.hide-mou {width: 28rem;}
.h2-mou {font-size: 1.9rem;}

.hide-text {
width: 32.4em;
margin-left: 3.5em;
font-size: .9rem;
line-height: 1.75rem;
}

.text-mou-2 {font-size: 1.3rem;}

/* Banner */
.shape{
border-top: 191px solid rgba(15, 58, 89, 0.7);
border-right: 191px solid transparent;
width: 500px;
}
.img-ban {height: 12em;}

.text-banner {
width: 450px;
padding-left: 5em;
line-height: 2.5em;
font-size: 1rem;
}

.banner-link {padding-left: 12em; margin-top: 1em;}

/* Nations */
.nations {
grid-template-rows: 3em 6.5em 9.6em 4.3em;
grid-template-columns: 21vw 21vw 21vw 21vw;
}

.nations-title {font-size: 1.2rem;}
.nations-text{font-size: .89rem;line-height: 1.8rem;}
.member-nations {width: 6.5em;}
figcaption {font-size: .9rem;}

}

@media only screen 
and (min-width : 1280px){}