body{
font-family: 'Source Sans Pro', sans-serif;
background:#ffffff;
font-size: 1rem;
}

.index-wrapper{
display: grid;
grid-template-columns: 8vw 84vw 8vw;
grid-template-rows: 4em 26.5em 132em 10.5rem;
}

p{
font-weight: 300;
font-size: .8rem;
line-height: 1.6rem;
}

/*-----
HEADER
-------*/
header{
font-weight: 300;
display:inline-block;
width:100vw; 
height:auto;
grid-row: 1;
grid-column-start: 1;
grid-column-end: 4;
z-index: 9;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
    
    .h-line{
    border: .2px solid #d1d1d1;
    width: 90vw;
    display: block;
    margin: auto;
    padding: auto;
    }
            
    .nav2{display: none;}
        
    .vertical-logo{
    width: 8rem;
    height: auto;
    padding: .3rem 1rem 0rem 1.5rem;
    object-fit: contain;
    }
          
    .hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height: 3rem; /*no mover*/
    padding: .3rem 1rem 0rem 1rem;
    color:white;
    border:0;
    font-size:1.5rem;
    cursor:pointer;
    outline:none;
    z-index:10;
    }
        
    .cross{
    background:none;
    position:absolute;
    top:0;
    right:0;
    padding: 0rem 1.5rem 0rem 1rem;
    color:white;
    border:0;
    font-size:2.5rem;
    line-height:5rem;
    cursor:pointer;
    outline:none;
    z-index:10;
    }
    
    .menu{
    z-index:10; 
    font-size:.5rem;
    width:100%;
    height: 80vh;
    background: #ffffff;
    position:absolute;
    text-align:center;
    font-size:1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) ;
    }
        
    .menu ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
    list-style-image: none;
    }
              
    .menu li {
    display: block;
    padding:15px 0 15px 0;
    text-align: center;
    font-size: .9rem;
    }
        
    .menu li:hover{
    display: block;
    background:#ffffff; 
    padding:15px 0 15px 0; 
    }
        
    .menu ul li a{ 
    text-decoration:none;
    margin: 0px; color: #0e3a59;
    line-height: 4rem;
    }
        
    .menu a{text-decoration:none;color:#ff0000;}         
    li{ transition: all .2s ease-in-out;} 
    li:hover{transform: scale(1.2);}
           
    .bar-1 {
    transition: 0.4s ease;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 20px;
    }
        
    .bar-1:hover {
    border-top: 1.5px solid #ff0000;
    border-bottom: 1.5px solid #ff0000;
    padding: 6px 0; 
    }
            
    .bar-2 {
    transition: 0.4s ease;
    text-decoration: none;
    border-top: 1px rgba(255,255,255,0,0);
    border-bottom: 1px rgba(255,255,255,0,0);
    padding: 10px 0;
    margin: 0 10px;
    }
        
    .bar-2:hover {
    border-top: 1.5px solid #ff0000;
    border-bottom: 1.5px solid #ff0000;
    padding: 3px 0; 
    }
    
    .bar-ind {
    transition: 0.4s ease;
    text-decoration: none;
    border-top: 1px rgba(255,255,255,0,0);
    border-bottom: 1px rgba(255,255,255,0,0);
    padding: 10px 0;
    margin: 0 10px;
    }
        
    .bar-ind:hover {
    border-top: 1.5px solid #ffffff;
    border-bottom: 1.5px solid #ffffff;
    padding: 3px 0; 
    }
/*------
HERO
-------*/
.hero-image{
grid-row-start: 1;
grid-row-end: 4;
grid-column-start: 1;
grid-column-end: 4;
width: 100vw;
height: 30.5rem;
}
    
    .cont-over{position: absolute;z-index:2;}
  
    .textslide{
    position: absolute;
    z-index: 6;
    font-size: .82rem;
    font-weight: 600;
    margin-left: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    height: 2.3em;
    width: 26em;
    padding-left: .7em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .texta-slider-1,.texta-slider-2,.texta-slider-3{margin-top: 16.2em;}
    .textb-slider-1,.textb-slider-2,.textb-slider-3{margin-top: 19.2em;}

    /* .translate{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
    font-size: .6rem;
    text-align: right;
    line-height: 1.2rem;
    color: white;
    text-shadow: .5px 1px  rgba(0, 0, 0, 0.4);
    } */
    
    .overlay{
    width: 100vw;
    height: 30.5rem;
    opacity: 0.3;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    }
      .slider{width: 100vw;height: 30.5rem;z-index: 1;}
      .grid-item{width: 100%;height: auto;}
      .hero-photo{width: 100%;height: 30.5rem;object-fit: cover;}
/*------
MAIN
-------*/
.content{
grid-row: 3;
grid-column-start: 1;
grid-column-end: 4;
display: grid;
grid-template-rows: 5em 25em 5em 10em 5em 35em .5em 10em .5em 9em 5em 17.5em;
grid-template-columns: 8vw 84vw 8vw;
}

.c-row-2{grid-row: 2;grid-column: 2;}

    .text-1{text-align: justify;}

    .photo-1{
    width: 19.7em;
    height: auto;
    margin-top: 2em;
    }

/* NEWS */
.news{
grid-row: 4;
grid-column-start: 1;
grid-column-end: 4;
display: grid;
grid-template-rows: 18% 75% 7%;
grid-template-columns: 8% 42% 42% 8%;
background-color: #f4f4f4;
}
  
      .l-news{
      grid-row:1;
      grid-column-start:2;
      grid-column-end:4;
      text-transform: uppercase;
      font-weight: 700;
      font-size: .9rem;
      margin-top: .8em;
      letter-spacing: .1em;
      color: #0f3a59;
      }
  
      .news-1{
      grid-row: 2;
      grid-column: 3;
      padding-right: .7rem;
      }
   
      .h2-title{
      font-size: .7rem;
      line-height: .9rem;
      text-align: left;
      color: #0e3a59;
      font-weight: 400;
      }
  
      .news-text{font-size:.5rem;line-height:.8rem;text-align:justify;}
      .r-more{font-size:.65rem; color: #ff0000;}
  
      .pic-news-1{
      grid-row: 2;
      grid-column: 2;
      width: 150px;
      height: auto;
      margin-top: .6rem;
      }
  
      .news-2{display: none;}
      .pic-news-two{width:150px;height:auto;display: none;}
  
        
  .title-tc-nls{
  grid-row: 6;
  grid-column: 2;
  }

  /* Memorandum of understanding */
  .img-mou{grid-row: 6; grid-column:2;}

    .hide-mou{
    width: 19rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .h2-mou, .nl-tc{
    text-align: left;
    line-height: 0rem;
    font-size: 1.2rem;
    margin: .5rem;
    padding: .5rem;
    color: #0e3a59;
    }

    .hide-text{text-align: justify;}

    .mou-text-2{
    grid-row: 8;
    grid-column: 2;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    color: #0e3a59; ;
    }

   .text-mou-2{
    font-weight: 400;
    font-size: .9rem;
    line-height: 2em;
    }
    
    .h2-mou{
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    letter-spacing: .04em;
    }

    .nl-tc{font-size: .8rem;margin-bottom: 1em; text-transform: uppercase; font-weight: 600;}

/* Banner */
.banner{
grid-row: 10;
grid-column-start: 1;
grid-column-end: 4;
object-fit: cover;
}
    .shape{
    border-top: 144px solid rgba(15, 58, 89, 0.7);
    border-left: 0px solid transparent;
    border-right: 140px solid transparent;
    height: 0;
    width: 175px;
    z-index: 5;
    position: absolute;
    }

    .banner-content{
    z-index: 6;
    position: absolute;
    color: #ffffff;
    }

    .text-banner{
    width: 225px;
    padding-left: 1.3em;
    line-height: 2em;
    font-weight: lighter;
    font-size: .7rem;
    font-family: 'Source Serif Pro', serif;
    }

    .banner-link{padding-left: 1.3em; padding-top: 0; margin-top: 0;}
    .about-link{color: #ffffff;}

    .img-ban{
    object-fit: cover;
    width: 100vw;
    height: 9em;
    z-index: 4;
    }

/* Nations */
.nations{
grid-row: 12;
grid-column-start: 2;
grid-column-end: 4;
display: grid;
object-fit: contain;
grid-template-rows: 2.5em 6.5em 5.4em 3.5em;
grid-template-columns: 21vw 21vw 21vw 21vw;
}
    
    .nations-title{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    letter-spacing: .1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #0e3a59;
    }

    .nations-text{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end:5;
    }
    
    .member-nations{
    width: 3.5em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

        .louis-bull{
        grid-row: 3;
        grid-column: 1;
        padding-top: 1rem;
        object-fit: contain;
        }
        .n-louis{grid-row: 4;grid-column: 1;}

        .nekaneet{
        grid-row: 3;
        grid-column: 2;
        width: 100%;
        height: auto;
        padding-top: 1.9rem;
        object-fit: contain;
        }
        .n-neka{grid-row: 4;grid-column: 2;}
        
        
        .ermineskin{
        grid-row: 3;
        grid-column: 3;
        padding-top: 1rem;
        object-fit: contain;
        }
        .n-erm{grid-row: 4;grid-column: 3;}
     
        .montana-cree{
        grid-row: 3;
        grid-column: 4;
        padding-top: 3rem;
        object-fit: contain;
        }
        .n-montana{grid-row: 4;grid-column: 4;}

        figcaption{
        font-family: 'Source Serif Pro', serif;
        line-height: 1.8em;
        font-size: .6rem;
        font-weight: 400;
        color: #0e3a59;
        text-align: center;
        }

/*------
Footer
-------*/

footer{
grid-row: 4;
grid-column-start: 1;
grid-column-end: 4;
display: grid;
grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
grid-template-rows: 3.5rem 2.5rem 5rem;
height: auto;
background-color: #f4f4f4;
}

    .social-icon{
    width: 1.7rem;
    height: auto;
    display: block;      
    margin-left: auto;
    margin-right: auto;
    padding-top: 0rem;
    object-fit: contain;
    }
   
    a:hover .social-icon {
    transform: scale(1.3);
    transition: 0.4s ease;
    }
  
    .twitter{ grid-column: 2;grid-row: 2;}
    .linkedin{grid-column: 3;grid-row: 2;}
    .facebook{grid-column: 4;grid-row: 2;}
    
    /* .f-line{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    border: .1px solid #0f3a59;
    width: 60vw;
    } */
  
    .social-text{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .13rem;
    text-align: center;
    padding-top: .5rem;
    color: #0f3a59;
    font-weight: 400;
    }
  
    .footext{
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    font-size: .6rem;
    line-height: 1rem;
    letter-spacing: .13rem;
    color: #0f3a59;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    }
    
    #link-term-privacy{color: #0e3a59;}

